@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(23, 21, 41, 1);
    overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-weight: 700;
}


/* SCROLL BAR */
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #432e63; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2d1353; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0 50px;
}

.contact-button,
.nav-items {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
    transition: all .3s ease 0s;
}

.nav-items:hover {
    color: rgba(126, 53, 235, 1);
}

.contact-button {
    padding: 9px 15px;
    background: rgba(126, 53, 235, 0);
    border: solid 2px;
    border-color: rgba(126, 53, 235, 1);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.contact-button:hover {
    cursor: pointer;
    background: rgba(126, 53, 235, 1);
    border: solid 2px;
    border-color: rgba(126, 53, 235, 0);
    border-radius: 5px;
}

/* BANNER */
.banner-container {
    display: grid;
    justify-content: center;
    margin-top: 80px;
    grid-template-columns: auto auto;
    grid-template-areas: "title image";
}

.banner-title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 30px;
    color: white;
    grid-area: title;
}

.banner-title p {
    font-size: 16px;
    padding-left: 5px;
}

.banner-title h1 {
    font-size: 60px;
    padding-bottom: 20px;
}

.banner-image img {
    width: 1000px;
    height: auto;
    grid-area: image;
}

/* GRADIENT */
.g1 {
    position: absolute;
    width: 573.4px;
    height: 573.4px;
    left: -73.15px;
    top: -167px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(191, 90, 224, 0.2) 0%, rgba(168, 17, 218, 0.5) 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g2 {
    position: absolute;
    width: 573.4px;
    height: 573.4px;
    left: 1306.85px;
    top: 108px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(191, 90, 224, 0.2) 0%, rgba(168, 17, 218, 0.5) 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g3 {
    position: absolute;
    width: 368.44px;
    height: 368.44px;
    left: -15.33px;
    top: 908px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2, 178, 220, 0.55) 0%, #B3EEFF 100%);
    mix-blend-mode: normal;
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g4 {
    position: absolute;
    width: 368.44px;
    height: 368.44px;
    left: 1379.67px;
    top: 1305px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2, 178, 220, 0.55) 0%, #B3EEFF 100%);
    mix-blend-mode: normal;
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g5 {
    position: absolute;
    width: 573.4px;
    height: 573.4px;
    left: -74.15px;
    top: 1731px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(191, 90, 224, 0.2) 0%, rgba(168, 17, 218, 0.5) 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g6 {
    position: absolute;
    width: 573.4px;
    height: 573.4px;
    left: 1305.85px;
    top: 2006px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(191, 90, 224, 0.2) 0%, rgba(168, 17, 218, 0.5) 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g7 {
    position: absolute;
    width: 368.44px;
    height: 368.44px;
    left: 17.67px;
    top: 2959px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(71, 167, 255, 0.59) 0%, #FF4A78 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

.g8 {
    position: absolute;
    width: 368.44px;
    height: 368.44px;
    left: 1296.67px;
    top: 3131px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(71, 167, 255, 0.59) 0%, #FF4A78 100%);
    filter: blur(250px);
    transform: rotate(31.53deg);
}

/* PROJECTS */
.projects-title, .about-title {
    color: white;
    text-align: center;
}

.tabs {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 360px;
    padding: 30px 20px;
    overflow: hidden;
}

.tabs .tab-header {
    float: left;
    width: 180px;
    height: 100%;
    padding: 50px 20px 50px 0px;
}

.tab-header {
    border-left: 1px solid #ffff;
}

.tabs .tab-header>div {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #888;
    cursor: pointer;
    padding-left: 30px;
}

.tabs .tab-header>div:hover,
.tabs .tab-header>div.active {
    color: #BA4EF2;
}

.tabs .tab-header>div.active {
    background-color: #311E49;
}

.tabs .tab-header div i {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.tabs .tab-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabs .tab-content>div {
    position: absolute;
    padding: 40px 20px;
    top: -200%;
    /* transition:all 1200ms ease-out; */
    color: white;
}

.tabs .tab-content>div p {
    text-align: justify;
}

.tabs .tab-content>div i, .bullet {
    color: #BA4EF2;
}

.tabs .tab-content>div.active {
    top: 0px;
}

.tabs .tab-indicator {
    position: absolute;
    width: 4px;
    height: 50px;
    background: #BA4EF2;
    top: 80px;
    transition: all 500ms ease-in-out;
}

.block {
    display: block;
}

/* ABOUT */
/* .about-desc {
    display: flex;
    width: 500px;
    
}
.about-desc p {
     text-align: justify;
} */
